.jobContainer {
  padding-left: 2rem;
}

.company {
  font-size: 4rem;
}
.role {
  font-size: 4rem;
  color: var(--green);
}
.date {
  font-size: 1.5rem;
  text-align: center;
  padding-right: 1rem;
  padding-top: 1rem;
}
.date span:nth-child(2) {
  font-weight: bold;
  font-size: 4rem;
}
.skills {
  padding-left: 1rem;
}
.loaderContainer {
  display: flex;
  justify-content: center;
}

.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

@media (width <= 768px) {
  .company {
    font-size: 2rem;
  }
  .role {
    font-size: 2rem;
  }
  .date {
    font-size: 1rem;
  }
  .date span:nth-child(2) {
    font-size: 2rem;
  }
}

@media (width <=425px) {
  .jobContainer {
    padding-left: 0.6rem;
  }
  .skills {
    padding-left: 0;
  }
}
