:root {
  --green: #3e615b;
  --yellow: #fbf6ec;
  --light-green: #d6e7da;
  --black: #000000;
  --white: #ffffff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: var(--ibm-sans-hebrew-font), sans-serif;
}
html {
  font-size: 62.5%;
}
