:root {
  --green: #3e615b;
  --yellow: #fbf6ec;
  --hover-yellow: #f5f0e6;
  --light-green: #d6e7da;
  --black: #000000;
  --white: #ffffff;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: var(--ibm-sans-hebrew-font), sans-serif;
  background-color: var(--yellow);
}
html {
  font-size: 62.5%;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
.spaceBetween {
  justify-content: space-between;
}
.alignCenter {
  align-items: center;
}
.justifyCenter {
  justify-content: center;
}
ul {
  padding: 0;
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #514b82;
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
