.section {
  display: flex;
  background-color: var(--green);
  color: var(--white);
  text-transform: uppercase;
  font-size: 4rem;
  padding-top: 5rem;
  align-items: center;
  justify-content: center;
}

.section header {
  padding-left: 2rem;
  width: 1500px;
}
.jobsTags {
  font-size: 2rem;
  padding: 1rem;
  background-color: var(--yellow);
  border: 1px solid var(--green);
}
.jobsFiltering {
  font-size: 2rem;
  /* padding: 1rem; */
  background-color: var(--yellow);
  border: 1px solid var(--green);
  border-top: none;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.jobsFiltering .filter {
  display: grid;
  align-items: center;
  padding: 1rem;
}
.inputContainer {
  border: 1px solid var(--green);
  border-top: none;
  border-bottom: none;
  border-right: none;
}
.inputContainer input {
  width: 100%;
  padding: 1.5rem;
  border: none;
  outline: none;
  background-color: var(--yellow);
  font-size: 1.5rem;
}

.inputContainer input::placeholder {
  color: var(--green);
  font-size: 1.5rem;
}
.jobs {
  border-bottom: 1px solid var(--green);
}
.jobs li {
  background-color: var(--yellow);
  list-style: none;
}
.jobs li:hover {
  background-color: var(--hover-yellow);
  cursor: pointer;
}

.jobs li:not(:last-child) {
  border-bottom: 1px solid var(--green);
}

.jobs a {
  text-decoration: none;
  color: inherit;
}

.loadMore {
  position: fixed;
  bottom: 0;
  padding: 1rem;
  text-transform: capitalize;
  background-color: var(--light-green);
  cursor: pointer;
  right: 0;
  opacity: 0.8;
  font-size: 2rem;
}
.loadMore:active {
  transform: translateY(2px);
}
.loadMore:hover {
  opacity: 1;
}
.btn {
  font-size: 15px;
  background: #a5b497;
  width: 100%;
  cursor: pointer;
}
.btn:hover {
  background: #7f8c7a;
}
/* Small devices such as large phones (640px and up) */
/* Medium devices such as tablets (768px and up) */
/* Large devices such as laptops (1024px and up) */
/* Largest devices such as desktops (1280px and up) */
@media (width <= 1280px) {
  .section h1 {
    font-size: 3rem;
  }

  .image {
    width: 400px;
    height: auto;
  }
}
@media (width <= 768px) {
  .image {
    width: 300px;
  }
  .tags {
    font-size: 1.5rem;
  }
  .jobsFiltering {
    font-size: 1.5rem;
  }
}

@media (width <=640px) {
  .tags {
    font-size: 1.2rem;
  }
  .section {
    flex-direction: column;
  }
  .image {
    width: 200px;
  }
  .section header {
    width: auto;
  }
}

@media (width<= 462px) {
  .jobsFiltering {
    grid-template-columns: 1fr;
  }
  .filter {
    place-items: center;
    border-bottom: 1px solid var(--green);
  }
  .inputContainer {
    border-left: none;
  }
}
@media (width <=334px) {
  .section h1 {
    font-size: 2rem;
  }
  .image {
    width: 150px;
  }
}
