.section {
  display: flex;
  background-color: var(--green);
  color: var(--white);
  text-transform: uppercase;
  font-size: 4rem;
  padding-top: 5rem;
  align-items: center;
}

.section header {
  padding-left: 2rem;
  flex: 1;
}
.jobsTags {
  font-size: 2rem;
  padding: 1rem;
  background-color: var(--yellow);
  border: 1px solid var(--green);
}
.jobsFiltering {
  font-size: 2rem;
  /* padding: 1rem; */
  background-color: var(--yellow);
  border: 1px solid var(--green);
  border-top: none;
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
}
.jobsFiltering .filter {
  padding: 1rem;
}
.inputContainer {
  border: 1px solid var(--green);
  border-top: none;
  border-bottom: none;
  border-right: none;
}
.inputContainer input {
  width: 100%;
  padding: 1.5rem;
  border: none;
  outline: none;
  background-color: var(--yellow);
  font-size: 1.5rem;
}

.inputContainer input::placeholder {
  color: var(--green);
  font-size: 1.5rem;
}
.jobs {
  border-bottom: 1px solid var(--green);
}
.jobs li {
  background-color: var(--yellow);
}
.jobs li:hover {
  background-color: var(--hover-yellow);
  cursor: pointer;
}
.jobs .company {
  font-size: 4rem;
  padding-left: 2rem;
}
.jobs li:not(:last-child) {
  border-bottom: 1px solid var(--green);
}
.jobs .role {
  font-size: 4rem;
  padding-left: 2rem;
  color: var(--green);
}
.jobs .skills {
  padding-left: 1rem;
}
.jobs .date {
  font-size: 1.5rem;
  text-align: center;
  padding-right: 1rem;
  padding-top: 1rem;
}
.jobs .date span:nth-child(2) {
  font-weight: bold;
  font-size: 4rem;
}
.jobs a {
  text-decoration: none;
  color: inherit;
}
