.section {
  display: flex;
  background-color: var(--green);
  color: var(--white);
  text-transform: uppercase;
  font-size: 4rem;
  padding-top: 5rem;
  align-items: center;
  justify-content: center;
}

.section header {
  padding-left: 2rem;
  width: 1500px;
}
.section header p {
  font-size: 2rem;
  font-weight: bold;
  color: var(--black);
}
.jobDetails {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
}
.jobDetails div {
  padding: 1rem;
  background-color: var(--yellow);
  border-right: 1px solid var(--green);
}
.jobDetails div > p:first-child {
  font-size: 1.5rem;
}
.jobDetails div > p:last-child {
  font-size: 2rem;
}
.jobsTags {
  font-size: 2rem;
  padding: 1rem;
  background-color: var(--yellow);
  border: 1px solid var(--green);
}
.jobExplanations {
  background-color: var(--yellow);
  text-align: justify;
}
.jobExplanations > div {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr;
}
.about_the_role {
  font-size: 2rem;
  padding: 1rem;
  background-color: var(--yellow);
}
.skills {
  font-size: 2rem;
  padding: 1rem;
  background-color: var(--yellow);
}
.jobExplanations h5 {
  margin-bottom: 1rem;
}
@media (width <= 1280px) {
  .section h1 {
    font-size: 3rem;
  }

  .image {
    width: 400px;
    height: auto;
  }
}
@media (width <= 768px) {
  .image {
    width: 300px;
  }
  .tags {
    font-size: 1.5rem;
  }
  .jobExplanations > div {
    grid-template-columns: 1fr;
  }
  .skills li {
    margin-left: 2rem;
  }
}
@media (width <= 640px) {
  .section {
    flex-direction: column;
  }
  .image {
    width: 200px;
  }
  .section header {
    width: auto;
  }
  .tags {
    font-size: 1.2rem;
  }
  .about_the_role {
    font-size: 1.5rem;
  }
  .skills {
    font-size: 1.5rem;
  }
  .jobDetails div > p:first-child {
    font-size: 1rem;
  }
  .jobDetails div > p:last-child {
    font-size: 1.5rem;
  }
}
@media (width <= 416px) {
  .jobDetails {
    grid-template-columns: 1fr 1fr;
  }
  .jobDetails > div:first-child,
  .jobDetails > div:nth-child(2) {
    border-bottom: 1px solid var(--green);
  }
}
