.section {
  display: flex;
  background-color: var(--green);
  color: var(--white);
  text-transform: uppercase;
  font-size: 4rem;
  padding-top: 5rem;
  align-items: center;
}

.section header {
  padding-left: 2rem;
  flex: 1;
}
.section header p {
  font-size: 2rem;
  font-weight: bold;
  color: var(--black);
}
.jobDetails {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
}
.jobDetails div {
  padding: 1rem;
  background-color: var(--yellow);
  border-right: 1px solid var(--green);
  border-bottom: 1px solid var(--green);
}
.jobDetails div > p:first-child {
  font-size: 1.5rem;
}
.jobDetails div > p:last-child {
  font-size: 2rem;
}
